@define-color bg    #1d2021;
@define-color fg    #ebdbb2;
@define-color blk   #282828;
@define-color red   #cc241d;
@define-color grn   #98971a;
@define-color ylw   #d79921;
@define-color blu   #458588;
@define-color mag   #b16286;
@define-color cyn   #689d6a;
@define-color brblk #3c3836;
@define-color white #fbf1c7;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
    color: @fg;
}

#workspaces button {
    padding: 0 6px;
    color: @fg;
    background: transparent;
}
#workspaces button.active {
    color: @fg;
    background-color: alpha(@ylw, 0.2);
    border-radius: 6px;
}
#workspaces button.empty {
    color: @brblk;
}
#workspaces button.empty.active {
    color: @fg;
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    background: alpha(@ylw, 0.12);
    box-shadow: none;
}

#clock,
#custom-sep,
#custom-battery,
#cpu,
#memory,
#disk,
#network,
#bluetooth,
#tray {
    padding: 0 8px;
    color: @white;
    background-color: @bg;
    border: 1px solid @brblk;
    border-radius: 8px;
    margin: 0 3px;
}

#custom-sep {
    color: @brblk;
    background: transparent;
    border: none;
}

#clock {
    color: @ylw;
}

#custom-battery {
    color: @mag;
}

#disk {
    color: @ylw;
}

#memory {
    color: @mag;
}

#cpu {
    color: @grn;
}

#network {
    color: @blu;
}

#bluetooth {
    color: @blu;
}

#network.disconnected {
    color: @red;
}

#tray {
    background-color: @bg;
}
